/* Normalize CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

/* Variables */
:root {
    --border: #666;
    --main-background: #1E1E1E;
    --hero-background: #141414;
    --white-color: #fff;
    --paragraph: #999999;
}

/* Global CSS */

html {
    scroll-behavior: smooth;
}

p {
    color: var(--paragraph);
}


button {
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1rem;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    background-color: var(--hero-background);
    padding-top: 25px;

}
/* --------------------------------- START OF BANNER --------------------------------- */

/* Hamburger */
.hamburger span {
    background-color: #c4c8cb;
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

/* The smallest font-size */
/* This is the container for banner-main and banner-close */
.banner {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    gap: 5px;
    font-size: 1rem;
    background-image: url("./assets/images/mobile/above-navbar-banner.png");
    border-bottom: 1px solid var(--border);
    background-color: var(--main-background);
    position: relative;
}

/* This is the container for <p>, <a> inside banner-main */
.banner-main {
    display: flex;
    gap: 10px;
    margin: 0 auto;

}

/* --------------------------------- END OF BANNER --------------------------------- */
/* --------------------------------- START OF NAVBAR --------------------------------- */

/* Navbar Section (Header) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--main-background);
    height: 70px;
    width: 100%;
}

.navbar button {
    background-color: var(--hero-background);
    padding: 10px;
}


.nav-items {
    display: flex;
    list-style-type: none;
    height: 100%;
    gap: 25px;
}

.nav-items li {
    height: 100%;
    cursor: pointer;
}

.nav-items li a {
    padding: 0 15px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}


.banner-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.nav-item-contact-us btn{
    padding: 0 15px;
}

/* --------------------------------- END OF NAVBAR --------------------------------- */
/* --------------------------------- START OF HERO --------------------------------- */

/* --------------------------------- START OF HERO TOP --------------------------------- */
.hero {
    padding-top: 25px;
}
.hero-content-top {
    background-color: var(--white-color); 
    width: 95%;
    margin: 0 auto;
    /* background: linear-gradient(90deg, rgba(42, 33, 63, 1) 6%, rgba(25, 25, 25, 0) 49%); */
}

.hero-top-images {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    background-color: var(--main-background);
    margin-bottom: 150px;
}

.hero-top-context {
    position: relative;
}

.hero-top-context-logo {
    position: absolute;
    bottom: 150px;
}


/* --------------------------------- END OF HERO TOP --------------------------------- */
/* --------------------------------- START OF HERO MID --------------------------------- */

.hero-content-mid {
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
}

.hero-mid-buttons button{
    border: 1px solid var(--border);
    width: 100%;
    padding: 10px 20px;
    /* cursor: pointer; To add in laptops + */
    margin-bottom: 15px;
}

.mid-first-button {
    background-color: var(--hero-background);
}
.mid-second-button {
    background-color: #703BF7;
}

.hero-mid-stats {
    text-align: center;
    padding: 25px;
    /* Grid Setup */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: flex-start;
    gap: 10px;
    font-size: 0.875rem;
}

.hero-mid-stat {
    background-color: var(--main-background);
    border: 1px solid var(--border);
    border-radius: 15px;;
    padding: 15px;
}

/* Hero Mid Stats */

.mid-stat-1 {
/*  grid-column: 1 / 2;
    grid-row: 1 / 2;    */

    grid-area: 1 / 1 / 2 / 2; /* start-row / start-column / finish-row / finish-column */
}

.mid-stat-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.mid-stat-3 {
    grid-area: 2 / 1 / 3 / 3; 
}

.hero-mid-titles {
    color: var(--white-color);
    font-size: 1.5rem;
    text-align: center;
}

/* --------------------------------- END OF HERO MID --------------------------------- */
/* --------------------------------- START OF HERO END --------------------------------- */

.hero-content-end {
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
}

.hero-end-titles {
    color: var(--white-color);
}

.hero-end-items {
    border: 1px solid var(--border);
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.25) 0px 25px 50px -12px;
    /* Grid Setup */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 25px;
    font-size: 0.875rem;
    margin-bottom: 16px;
}

.hero-end-item {
    background-color: var(--main-background);
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.item-images {
    position: relative;
}

.item-images img[src="./assets/icons/mobile/arrow-icon.svg"] {
    /* ניתקתי את התמונה של החץ מהזרימה ובגלל שהוא יחסי כרגע לאבא שלו שזה בעצם  הדיב הראשון אז מיקמתי אותו ימין למעלה */
    position: absolute;
    top: 0;
    right: 0;
}
/* --------------------------------- END OF HERO END --------------------------------- */
.section {
    background-color: var(--hero-background);
    padding-top: 25px;
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 16px;
}

.section-title {
    color: var(--white-color);
    margin-bottom: 10px;
}

.section-description {
    line-height: 1.2;
    margin-bottom: 32px;
}
/* --------------------------------- START OF FEATURED PROPERTIES SECTION --------------------------------- */

.property {
    border: 1px solid var(--border);
    padding: 35px;
    border-radius: 15px;
    margin-bottom: 16px;
}

.property-image {
    text-align: center;
}

.property-title {
    color: var(--white-color);
    margin-bottom: 10px;
}

.property-description {
    margin-bottom: 15px;
}

#read-more {
    text-decoration: underline;
    background-color: var(--hero-background);
    color: var(--white-color);
}

.property-perks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}
.property-perk {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 45px;
    padding: 10px;
    background-color: var(--main-background);
}

.perk-description {
    color: var(--white-color);
}

.property-details-btn {
    background-color: #703BF7;
    padding: 15px 35px;
}

.property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin-bottom: 16px;
    margin-top: 32px;
    color: var(--border);
}

.properties-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.show-more-properties {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* --------------------------------- END OF FEATURED PROPERTIES SECTION --------------------------------- */
/* --------------------------------- START OF REVIEWS SECTION --------------------------------- */

.review {
    border: 1px solid var(--border);
    padding: 35px;
    border-radius: 15px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.review-image {
    margin-bottom: 16px;
}

.review-title {
    margin-bottom: 8px;
}

.review-description { 
    margin-bottom: 16px;
}
.review-reviewers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.all-reviews-btn {
    border: 1px solid var(--border);
    border-radius: 15px;
    background-color: var(--main-background);
    padding: 15px 15px;
}

.reviews-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.show-more-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* --------------------------------- END OF REVIEWS SECTION --------------------------------- */
/* --------------------------------- START OF F.A.Q SECTION --------------------------------- */
.question {
    border: 1px solid var(--border);
    padding: 35px;
    border-radius: 15px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.question-title {
    margin-bottom: 32px;
}

.question-description { 
    margin-bottom: 16px;
}

.question-read-more-btn {
    border: 1px solid var(--border);
    background-color: var(--main-background);
    width: 100%;
    padding: 10px 20px;
    /* cursor: pointer; To add in laptops + */
    margin-bottom: 15px;
}

.show-more-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.all-questions-btn {
    border: 1px solid var(--border);
    border-radius: 15px;
    background-color: var(--main-background);
    padding: 15px 15px;
}
/* --------------------------------- END OF FAQ SECTION --------------------------------- */
/* --------------------------------- START OF EXPLORE SECTION --------------------------------- */
.container-explore {
    background-image: url("./assets/images/mobile/explore-background.png");
    background-size: cover;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.explore-title-first {
    margin-bottom: 16px;
}

.explore-title-second {
    margin-bottom: 10px;
}

.explore-description {
    margin-bottom: 16px;
}

.explore-properties-btn {
    border: 1px solid var(--border);
    border-radius: 15px;
    background-color: var(--main-background);
    padding: 15px 15px;
    width: 100%;
    background-color: #703BF7;
    margin-top: 16px;
    margin-bottom: 32px;
}

.section-explore {
    padding-top: 25px;
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 16px;
}
/* --------------------------------- END OF EXPLORE SECTION --------------------------------- */
/* --------------------------------- START OF FOOTER SECTION --------------------------------- */
footer {
    background-color: var(--hero-background);
    padding-top: 25px;
    margin: 0 auto;
    padding-top: 24px;
}

.footer-top {
    width: 95%;
    margin: 0 auto;
}

.footer-input-text {
    width: 100%;
    background-color: var(--hero-background);
    color: inherit;
    border: none;
}

.input-container {
    border: 1px solid var(--border);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
}

.input-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-container-submit-btn {
    background: none;
    border: none;
}

.footer-links {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto; 
}

.footer-link {
    border-bottom: 1px solid var(--border);
}


.footer-link-title {
    margin-top: 24px;
    margin-bottom: 24px;
}
ul li a {
    color: var(--white-color);
    text-decoration: none;
}

ul li{
    margin-bottom: 10px;
}

.footer-bottom {
    width: 95%;
    margin: 0 auto;
}
.footer-bottom-logos {
    margin-top: 24px;
    background-color: var(--main-background);
    text-align: center;
    padding: 24px;
}

.copyright-section {
    margin-top: 24px;
}

.copyright-first {
    margin-bottom: 24px;
}

@media only screen and (max-width: 1200px) {
}

/* Phones (WE START WRITING CODE HERE) */
@media only screen and (max-width: 768px) {
}

/* --------------------------------- END OF BANNER --------------------------------- */
/* --------------------------------- START OF NAVBAR --------------------------------- */